* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #787676;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .main {
    width: 95%;
    padding: 10px;
  }
}